body{
background-color: brown;
color: beige;
}

form label{
    font-weight: bold;
    color: white;
}

form input{
    border: 2px solid blue;
    background-color: tomato;
}

form button{
    border: 2px solid gray;
    background-color: red;
    color: white;
}
